#login {
transform: translate(-50%, -20%);
}

form a:link,
form a:visited,
input {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #4a9690;
	font-family: 'Indie Flower', cursive;
	font-size: 60px;
	margin: 0;
}
		 
input:focus {
	box-shadow: 0 0 5px #62b3ac;
	padding: 3%;
	border: 1px solid #62b3ac;
}
		 
input[type="submit"],
form a:link,
form a:visited {
	 box-sizing: border-box;
	 -webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
	 width: 100%;
	 padding: 3%;
	 background: #4a9690;
	 border-bottom-style: none;
	 border-top-style: none;
	 border-right-style: none;
	 border-left-style: none;    
	 color: #fff;
}
			 
a:link, a:visited {
	text-decoration:none;
	color:#fff;
	cursor:default;
}
			 
			 